# Python
__pycache__/
*.pyc
*.pyo
*.py[cod]
.ipynb_checkpoints/

# Data
# data/raw/
# data/processed/

# Environment
.env
.venv/
venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Temp / generated CSVs
outputs/predictions/*.csv
data/exports/*.csv

# Project specific
commit.txt

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Streamlit cache
.streamlit/

# Model checkpoints
*.h5
*.keras

# Logs
*.log